.App {
    display: flex;
    --left-panel-width : 316px;

}


.Heading {
    font-size: 22px;
    font-weight: bold;
    font-family: "Courier New";
}
.HeadingDiv{
    text-align: center;
    width: 100%;
    background-color: yellow;
}

.rightBar{
    position: absolute;
    top : 10%;
    left : var(--left-panel-width);
    width : 1050px;
    height : 90%;
    background-color: chocolate;
    text-align: center;
    /*min-width: 720px;*/
}



.leftBar{
    position: absolute;
    top:10%;
    left:0;
    width: var(--left-panel-width);
    height: 90%;
    background-color: aqua;
    padding-left: 10px;
    padding-right: 20px;
    align-items: center;

}

.searchBar{
    position: relative;
    top:40%;
    height : 10%;
    width: 80%;
    padding-left: 2%;
    font-size: medium;
}

.SearchButton {
    position: relative;
    height : 7%;
    top:43%;
    width: 83%;
}

.SearchClearButton {
    position: relative;
    height : 7%;
    top:43%;
    width: 83%;
    background-color: firebrick;
}



.card {
    background-color: crimson;
    position: absolute;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    transform: translate(-50%,-50%);
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
    color: white;

}

.card:hover {
    background-color: orangered;

}

.highLight {
    background-color: black;
    opacity: 0.4;
}

.nodeHighLight {
    background-color: orangered;
}



.line{
    position: absolute;
    background-color: #9c9c9c;
    height : 2px;
    transform-origin: 0% 50%;
    transition: 0.3s;
}


/*y  x*/
/*15 85*/
/*40 80*/



.Modal {
    display:block;
    position: absolute;
    opacity: 0.9;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: white;
    pointer-events: none;
}

.Modal:after{
    top:60px;
    transition: 0.3s;
}

.modalCard {
    position: relative;
    opacity: 1;
    min-height: 300px;
    width: 40%;
    top: 50%;
    left: 50%;
    z-index: 16;
    transform: translate(-50%,-50%);
    background-color: #b0fff1;
    border-radius: 10px;
    padding: 10px;
    transition: opacity 5s;
    pointer-events: none;

}

.modalCard p{
    font-size: 22px;
    line-height: 22px;
}

.modalTitle {
    position: inherit;
    width: 100%;
    top:5%;

    text-align: center;
}
.singleLine{
    width: 90%;
    background-color: lightgrey;
    height: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: auto;
}

.modalFooter{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 5px;
    bottom: 0;
    width: 100%;
    left: 0;
    pointer-events: auto;
}

.modalContent {
    font-size: 16px;
    line-height: 22px;
    overflow: visible;
    text-align: left;
}
.modalClose {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
}


